<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN"
   "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
  <!ENTITY % general-entities SYSTEM "../../general.ent">
  %general-entities;
]>

<chapter id="postlfs-config" xreflabel="Problemas Depois da Configuração do LFS">
  <?dbhtml filename="config.html"?>

  <title>Problemas Depois da Configuração do LFS</title>

  <para>
    A intenção do LFS é a de fornecer um sistema básico sobre o qual você possa
construir. Existem várias coisas acerca de aprimorar o sistema que muitas
pessoas se questionam tão logo tenham feito a instalação básica. Nós
esperamos cobrir esses problemas neste capítulo.
  </para>

  <para>
    A maioria das pessoas vindas de origens não Unix para o Linux acha o
conceito de arquivos de configuração somente texto um pouco estranho. No
Linux, quase toda a configuração é feita via manuseio de arquivos de
texto. A maioria desses arquivos pode ser encontrada na hierarquia <filename
class='directory'>/etc</filename>. Existem frequentemente aplicativos
gráficos de configuração disponíveis para diferentes subsistemas, porém a
maioria é simplesmente estrutura bonita de interação direta com o(a)
usuário(a) para o processo de editar um arquivo de texto. A vantagem da
configuração somente texto é a de que você consegue editar os parâmetros
usando o seu editor de texto favorito, seja ele <command>vim</command>;
<command>emacs</command>; ou qualquer outro editor.
  </para>

  <para>
    A primeira tarefa é a de fazer um dispositivo de inicialização de
recuperação em <xref linkend="postlfs-config-bootdisk"/>, pois ele é a
necessidade mais crítica. Problemas de hardware relevantes para firmware e
outros dispositivos são endereçados a seguir. O sistema é então configurado
para facilitar a adição de usuários(as) novos(as), pois isso pode afetar as
escolhas que você fizer nos dois tópicos subsequentes&mdash;<xref
linkend="postlfs-config-profile"/> e <xref linkend="postlfs-config-vimrc"/>.
  </para>

  <para revision="sysv">
    Os tópicos restantes, <xref linkend="postlfs-config-logon"/> e <xref
linkend="postlfs-config-random"/>, são então endereçados, nessa ordem. Eles
não tem muita interação com os outros tópicos neste capítulo.
  </para>

  <para revision="systemd">
    Existe um tópico restante: <xref linkend="postlfs-config-logon"/>. Ele não
tem muita interação com os outros tópicos neste capítulo.
  </para>


  <!-- autofs has been moved to sysutils -->
<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="bootdisk.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="console-fonts.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="firmware.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="devices.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="skel.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="users.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="vimrc.xml"/>
  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="logon.xml"/>

  
  <!-- sysv only -->
<xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="random.xml"/>
</chapter>
